        <meta charset="utf-8">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        
        <!-- mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Caching App">
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="application-name" content="Caching">
    
        <!-- seo -->
        <meta name="description" content="<%= I18n.t("#{page_classes}.description") %>">
        <meta name="keywords" content="lorem, ipsum">
        <meta name="author" content="lorem, ipsum">
        <meta name="robots" content="index, follow, archive">

        <!-- metro -->
        <meta name="msapplication-TileColor" content="#123456"/>
        <meta name="msapplication-TileImage" content="your_logo.png"/>

        <!-- stylesheets -->
        <%= stylesheet_link_tag "base", {:rel=>"stylesheet", :media=>"all"}%>

        <!-- title -->
        <title><%= "Caching " + data.page.title || "Caching" %></title>

        <!--[if lt IE 9]>
            <%= stylesheet_link_tag "lt-ie9", {:rel=>"stylesheet", :media=>"all"} %>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <%= javascript_include_tag  "lt-ie9" %>
        <![endif]-->

        <!-- No Js Fixes -->
        <noscript>
            <style>
                #layer-no-js {display: block;}
            </style>
        </noscript>